[package]
name = "day-four"
version = "0.1.0"
edition = "2024"

[dependencies]
tokio = { version = "1", features = ["full"] }
reqwest = { version = "0.11", features = ["json"] }
regex = "1"

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
